    <a class="btn btn-primary" href="/">Tu veux recommencer ?</a>
    <div>
        <a class="btn btn-primary" href="/contribution">Tu veux contribuer aux questions ?</a>
    </div>
    <div>
        <a class="btn btn-primary" href="/dashboard">Dashboard</a>
    </div>
</section>
    </body>
    </html>